﻿@{
    ViewBag.Title = "Cookie";
}

<h2>Cookie</h2>

<input type="button" value="Criar Cookie" id="btnCriarCookie" />
<input type="button" value="Buscar Cookie" id="btnBuscarCookie" />

@section scripts {

    <script>

        $(document).ready(function () {

            $("#btnCriarCookie").click(function () {

                $.ajax({
                    url: 'http://localhost:59848/api/cookie/criar-cookie',
                    type: 'POST',
                    success: function (data) {

                        console.log(data);
                    }
                });

            });

            $("#btnBuscarCookie").click(function () {

                $.ajax({
                    url: 'http://localhost:59848/api/cookie/buscar-cookie',
                    type: 'GET',
                    success: function (data) {

                        console.log(data);
                    }
                });

            });

        });

    </script>

}