﻿@{
    ViewBag.Title = "HandlersFilters";
}

<h2>HandlersFilters</h2>

<input type="button" value="Incluir Header" id="btnIncluirHeader" />


@section scripts {

    <script>

        var urlBase = "http://localhost:59848/handler-filters/";

        $(document).ready(function () {

            $("#btnIncluirHeader").click(function () {

                $.ajax({
                    url: urlBase + 'incluir-header',
                    type: 'GET',
                    success: function (data) {
                        console.log(data);
                    }

                });
            });

        });

    </script>
}