﻿@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<input type="button" value="Autenticado" id="btnAutenticado" />
<input type="button" value="Não autenticado" id="btnNaoAutenticado" />
<br />
<input type="button" value="É Admin" id="btnEhAdmin" />
<input type="button" value="Não é Admin" id="btnNaoEhAdmin" />

<br />
<input type="button" value="Somente Admin Controller =)" id="btnSomenteAdminControllerOk" />
<input type="button" value="Somente Admin Controller =(" id="btnSomenteAdminControllerNot" />

<br />
<input type="button" value="Área do Ben-hur" id="btnAreaBenHur" />
<input type="button" value="Área do Obama" id="btnAreaObama" />

<br />
<input type="button" value="Runtome role =)" id="btnRuntimeRole" />
<input type="button" value="Runtome role =(" id="btnRuntimeRoleNot" />
<input type="button" value="Runtime user name =)" id="btnRuntimeUserName" />
<input type="button" value="Runtime user name =(" id="btnRuntimeUserNameNot" />


@section scripts {

    <script>

        var Base64 = { _keyStr: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=", encode: function (e) { var t = ""; var n, r, i, s, o, u, a; var f = 0; e = Base64._utf8_encode(e); while (f < e.length) { n = e.charCodeAt(f++); r = e.charCodeAt(f++); i = e.charCodeAt(f++); s = n >> 2; o = (n & 3) << 4 | r >> 4; u = (r & 15) << 2 | i >> 6; a = i & 63; if (isNaN(r)) { u = a = 64 } else if (isNaN(i)) { a = 64 } t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a) } return t }, decode: function (e) { var t = ""; var n, r, i; var s, o, u, a; var f = 0; e = e.replace(/[^A-Za-z0-9\+\/\=]/g, ""); while (f < e.length) { s = this._keyStr.indexOf(e.charAt(f++)); o = this._keyStr.indexOf(e.charAt(f++)); u = this._keyStr.indexOf(e.charAt(f++)); a = this._keyStr.indexOf(e.charAt(f++)); n = s << 2 | o >> 4; r = (o & 15) << 4 | u >> 2; i = (u & 3) << 6 | a; t = t + String.fromCharCode(n); if (u != 64) { t = t + String.fromCharCode(r) } if (a != 64) { t = t + String.fromCharCode(i) } } t = Base64._utf8_decode(t); return t }, _utf8_encode: function (e) { e = e.replace(/\r\n/g, "\n"); var t = ""; for (var n = 0; n < e.length; n++) { var r = e.charCodeAt(n); if (r < 128) { t += String.fromCharCode(r) } else if (r > 127 && r < 2048) { t += String.fromCharCode(r >> 6 | 192); t += String.fromCharCode(r & 63 | 128) } else { t += String.fromCharCode(r >> 12 | 224); t += String.fromCharCode(r >> 6 & 63 | 128); t += String.fromCharCode(r & 63 | 128) } } return t }, _utf8_decode: function (e) { var t = ""; var n = 0; var r = c1 = c2 = 0; while (n < e.length) { r = e.charCodeAt(n); if (r < 128) { t += String.fromCharCode(r); n++ } else if (r > 191 && r < 224) { c2 = e.charCodeAt(n + 1); t += String.fromCharCode((r & 31) << 6 | c2 & 63); n += 2 } else { c2 = e.charCodeAt(n + 1); c3 = e.charCodeAt(n + 2); t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63); n += 3 } } return t } };

        var urlBase = "http://localhost:59848/";

        $(document).ready(function () {

            $("#btnRuntimeUserNameNot").click(function () {

                $.ajax({

                    url: urlBase + 'api/login/validar-usuario-em-tempo-execucao',
                    type: 'GET',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Basic " + Base64.encode("conan:conan"));
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });
            });

            $("#btnRuntimeUserName").click(function () {

                $.ajax({

                    url: urlBase + 'api/login/validar-usuario-em-tempo-execucao',
                    type: 'GET',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Basic " + Base64.encode("ben-hur:ben-hur"));
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });
            });

            $("#btnRuntimeRole").click(function () {

                $.ajax({

                    url: urlBase + 'api/login/validar-role-em-tempo-execucao',
                    type: 'GET',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Basic " + Base64.encode("ben-hur:ben-hur"));
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });
            });

            $("#btnRuntimeRoleNot").click(function () {

                $.ajax({

                    url: urlBase + 'api/login/validar-role-em-tempo-execucao',
                    type: 'GET',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Basic " + Base64.encode("conan:conan"));
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });
            });

            $("#btnAreaBenHur").click(function () {

                $.ajax({

                    url: urlBase + 'api/login/area-benhur',
                    type: 'GET',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Basic " + Base64.encode("ben-hur:ben-hur"));
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });
            });

            $("#btnAreaObama").click(function () {

                $.ajax({

                    url: urlBase + 'api/login/area-benhur',
                    type: 'GET',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Basic " + Base64.encode("obama:obama"));
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });
            });

            $("#btnSomenteAdminControllerOk").click(function () {

                $.ajax({

                    url: urlBase + 'api/somente-admin-controller/Ok',
                    type: 'GET',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Basic " + Base64.encode("ben-hur:ben-hur"));
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });
            });

            $("#btnSomenteAdminControllerNot").click(function () {

                $.ajax({

                    url: urlBase + 'api/somente-admin-controller/Ok',
                    type: 'GET',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Basic " + Base64.encode("judas:judas"));
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });
            });

            $("#btnAutenticado").click(function () {

                $.ajax({

                    url: urlBase + 'api/login/validar-autenticacao',
                    type: 'POST',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Basic " + Base64.encode("ben-hur:ben-hur"));
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });

            });

            $("#btnNaoAutenticado").click(function () {

                $.ajax({

                    url: urlBase + 'api/login/validar-autenticacao',
                    type: 'POST',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Basic " + Base64.encode("conan:nanoc"));
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });

            });


            $("#btnEhAdmin").click(function () {

                $.ajax({
                    url: urlBase + 'api/login/somente-admin',
                    type: 'GET',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Basic " + Base64.encode("ben-hur:ben-hur"));
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });
            });

            $("#btnNaoEhAdmin").click(function () {

                $.ajax({
                    url: urlBase + 'api/login/somente-admin',
                    type: 'GET',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Basic " + Base64.encode("darth-vader:darth-vader"));
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });
            });

        });

    </script>

}